<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyd.wenyongdaCredit.mapper.CustomerMapper">
    <!--<resultMap id="UserAccountVO" type="com.wyd.wenyongdaAdmin.commons.model.admin.user.vo.UserAccountVO">-->
    <!--    <id property="id" column="id" jdbcType="INTEGER"/>-->
    <!--    <result property="username" column="username" jdbcType="VARCHAR"/>-->
    <!--    <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>-->
    <!--    <result property="avatar" column="avatar" jdbcType="VARCHAR"/>-->
    <!--    <result property="password" column="password" jdbcType="VARCHAR"/>-->
    <!--    <result property="isEnabled" column="is_enabled" jdbcType="INTEGER"/>-->
    <!--    <result property="roleId" column="role_id" jdbcType="BIGINT"/>-->
    <!--</resultMap>-->



</mapper>